@keyframes rotate-and-back {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(6deg);
  }
}

.animate-rotate-and-back {
  animation: rotate-and-back 500ms ease-in-out forwards;
}
